<form name="signup-form" #loginForm fxLayout="column" fxLayoutAlign="center center" fxFlex (submit)="signup()">
  <div>
    <md-form-field class="input-line">
      <input mdInput placeholder="{{'SIGNUP.EMAIL.PLACEHOLDER'|translate}}" name="email-input" required type="email"
             #emailInput="ngModel"
             [(ngModel)]="email" email="">
      <md-error *ngIf="emailInput.hasError('required')">{{'SIGNUP.EMAIL.REQUIRED'|translate}}</md-error>
    </md-form-field>
    <md-form-field class="input-line">
      <input mdInput placeholder="{{'SIGNUP.PASSWORD.PLACEHOLDER'|translate}}" required name="password-input"
             type="password" #passwordInput="ngModel"
             [(ngModel)]="password" #passwordInputElement>
      <md-error *ngIf="passwordInput.hasError('required')">{{'SIGNUP.PASSWORD.REQUIRED'|translate}}</md-error>
    </md-form-field>
    <md-form-field class="input-line">
      <input mdInput placeholder="{{'SIGNUP.REPEAT-PASSWORD.PLACEHOLDER'|translate}}" required
             name="repeat-password-input" type="password"
             #repeatPasswordInput="ngModel" [(ngModel)]="repeatPassword" repeat [other]="passwordInputElement">
    </md-form-field>
    <md-checkbox class="input-line" #rememberMeInput [(ngModel)]="rememberMe" name="remember-me-input">
      {{'SIGNUP.REMEMBER-ME'|translate}}
    </md-checkbox>
    <md-error *ngIf="signupFailed">{{'SIGNUP.FAILED'|translate}}</md-error>
    <button md-raised-button color="primary" type="submit" class="signup-button">
      {{'SIGNUP.SUBMIT'|translate}}
    </button>
    <a md-raised-button color="secondary" [routerLink]="['/login']" [queryParams]="loginArgs|async"
       class="signup-button">
      {{'SIGNUP.LOGIN'|translate}}
    </a>
  </div>
</form>
