<form name="editPostForm" (submit)="triggerSave()">
  <mat-form-field>
    <input matInput type="text" required [(ngModel)]="copy.name" #nameInputField="ngModel" name="name-input-field"
           placeholder="Name" [value]="original.name">
    <mat-error *ngIf="nameInputField.hasError('required')">Name is required</mat-error>
  </mat-form-field>
  <br>
  <button mat-button type="button" color="warn" (click)="reset()">Reset</button>
  <button mat-button type="submit" color="primary">Save</button>
</form>
