<form name="login-form" #loginForm fxLayout="column" fxLayoutAlign="center center" fxFlex (submit)="login()">
  <div>
    <mat-form-field class="input-line">
      <input matInput placeholder="Email address" name="email-input" required type="email" #emailInput="ngModel"
             [(ngModel)]="email" email="">
      <mat-error *ngIf="emailInput.hasError('required')">Email is required</mat-error>
    </mat-form-field>
    <mat-form-field class="input-line">
      <input matInput placeholder="Password" required name="password-input" type="password" #passwordInput="ngModel"
             [(ngModel)]="password">
      <mat-error *ngIf="passwordInput.hasError('required')">You need to enter your password</mat-error>
    </mat-form-field>
    <mat-checkbox class="input-line" #rememberMeInput [(ngModel)]="rememberMe" name="remember-me-input">
      Remember me
    </mat-checkbox>
    <mat-error *ngIf="loginFailed">
      Invalid email or password
    </mat-error>
    <button mat-raised-button color="primary" type="submit" class="login-button" [disabled]="authenticating">
      {{authenticating ? 'Logging in...' : 'Login'}}
    </button>
    <a mat-raised-button colo="secondary" [routerLink]="['/signup']" class="login-button"
       [queryParams]="loginArgs|async">
      Sign up
    </a>
  </div>
</form>
