<h1 mat-dialog-title>Create new list</h1>
<mat-dialog-content>
  <form #createNewListForm id="create-new-list-form" name="create-new-list-form" (submit)="createNewList()">
    <mat-form-field>
      <input matInput type="text" name="list-name-input" [(ngModel)]="name" #listNameInput="ngModel" required
             placeholder="Name">
      <mat-error *ngIf="listNameInput.hasError('required')">Name is required</mat-error>
    </mat-form-field>
    <mat-error *ngIf="error !== ''">{{error}}</mat-error>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close color="warn">Cancel</button>
  <button mat-button type="submit" color="primary" form="create-new-list-form">Create</button>
</mat-dialog-actions>
