<div class="content">
  <app-create-new-post (newPost)="createNewPost($event)"></app-create-new-post>
  <mat-card>
    <mat-card-content fxLayout="row">
      <form name="searchForm" *ngIf="(posts|async)?.length > 0">
        <mat-form-field>
          <input matInput type="search" name="search-input" #searchInput [formControl]="searchField"
                 placeholder="Search">
        </mat-form-field>
      </form>
      <span fxFlex></span>
      <button mat-button color="warn" (click)="deleteList()">Delete list</button>
      <button mat-button color="primary" (click)="openShareEditor()">Share list</button>
    </mat-card-content>
  </mat-card>

  <app-post *ngFor="let post of filteredPosts|async" [post]="post" (deletePost)="deletePost(post)"
            (savePost)="savePost($event)" (upload)="uploadFilesToPost($event, post)"
            [listId]="listId|async"></app-post>
</div>
