<mat-card class="container">
  <mat-card-header>
    <h2 mat-card-title>{{post.name}}</h2>
  </mat-card-header>

  <app-edit-post [original]="post" (save)="triggerSavePost($event)"
                 *ngIf="editingPost; else postContent"></app-edit-post>

  <ng-template #postContent>
    <div>
      <h3>Attached files</h3>
      <div fxLayout="row" fxLayoutWrap fxLayoutGap="1rem" fxLayoutAlign="space-between center" fxLayout.xs="column">
        <div *ngFor="let attachment of post.attachments" fxFlex.gt-xs="200px">
          <a [href]="'/api/lists/' + listId + '/posts/' + post.id + '/attachments/' + attachment.id + '/file'"
             download>
            <img class="image-attachment"
                 [src]="'/api/lists/' + listId + '/posts/' + post.id + '/attachments/' + attachment.id + '/file?thumbnail=yes'"
                 *ngIf="attachment.isImage; else imageAlt"/>
            <ng-template #imageAlt>
              <mat-card fxLayout="row" fxLayoutAlign="center center">
                <mat-icon>file_download</mat-icon>
              </mat-card>
            </ng-template>
          </a>
        </div>

        <ng-container *ngFor="let uploadTask of post.uploadTasks">
          <div fxFlex.gt-xs="200px" *ngIf="!(uploadTask.completed|async)">
            <mat-progress-spinner mode="determinate" [value]="uploadTask.uploadProgress|async">

            </mat-progress-spinner>
          </div>
        </ng-container>

        <app-upload-area (upload)="uploadFiles($event)" fxFlex.gt-xs="200px"></app-upload-area>
      </div>

    </div>
  </ng-template>


  <mat-card-actions>
    <button mat-button color="warn" type="button" (click)="removePost()">Delete</button>
    <button mat-button color="primary" type="button" (click)="editPost()" *ngIf="!editingPost">Edit</button>
    <button mat-button type="button" (click)="cancelEdit()" *ngIf="editingPost">Cancel edit</button>
  </mat-card-actions>
</mat-card>

