<md-card class="container">
  <md-card-header>
    <h2 md-card-title>{{post.name}}</h2>
  </md-card-header>

  <app-edit-post [original]="post" (save)="triggerSavePost($event)"
                 *ngIf="editingPost; else postContent"></app-edit-post>

  <ng-template #postContent>
    <div>
      <h3>{{'POSTS.ATTACHED-FILES'|translate}}</h3>
      <div fxLayout="row" fxLayoutWrap fxLayoutGap="1rem" fxLayoutAlign="space-between center" fxLayout.xs="column">
        <div *ngFor="let attachment of post.attachments" fxFlex.gt-xs="200px">
          <a [href]="'/api/lists/' + listId + '/posts/' + post.id + '/attachments/' + attachment.id + '/file'"
             download>
            <img class="image-attachment"
                 [src]="'/api/lists/' + listId + '/posts/' + post.id + '/attachments/' + attachment.id + '/file?thumbnail=yes'"
                 *ngIf="attachment.isImage; else imageAlt"/>
            <ng-template #imageAlt>
              <md-card fxLayout="row" fxLayoutAlign="center center">
                <md-icon>file_download</md-icon>
              </md-card>
            </ng-template>
          </a>
        </div>

        <ng-container *ngFor="let uploadTask of post.uploadTasks">
          <div fxFlex.gt-xs="200px" *ngIf="!(uploadTask.completed|async)">
            <md-progress-spinner mode="determinate" [value]="uploadTask.uploadProgress|async">

            </md-progress-spinner>
          </div>
        </ng-container>

        <app-upload-area (upload)="uploadFiles($event)" fxFlex.gt-xs="200px"></app-upload-area>
      </div>

    </div>
  </ng-template>


  <md-card-actions>
    <button md-button color="warn" type="button" (click)="removePost()">{{'POSTS.DELETE.BUTTON'|translate}}</button>
    <button md-button color="primary" type="button" (click)="editPost()" *ngIf="!editingPost">
      {{'POSTS.EDIT.BUTTON'|translate}}
    </button>
    <button md-button type="button" (click)="cancelEdit()" *ngIf="editingPost">{{'POSTS.CANCEL-EDIT'|translate}}
    </button>
  </md-card-actions>
</md-card>

