<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Create new post
    </mat-panel-title>
    <mat-panel-description>
      Use this panel to create new posts
    </mat-panel-description>
  </mat-expansion-panel-header>

  <form name="new-post-form" id="new-post-form" (submit)="createPost()" fxLayout="row">
    <mat-form-field fxFlex fxLayout="row">
      <textarea fxFlex matInput type="text" required [(ngModel)]="name" name="name-input-field"
                #nameInputField="ngModel"
                placeholder="Name"></textarea>
      <mat-error *ngIf="nameInputField.hasError('required')">Name is required</mat-error>
    </mat-form-field>
  </form>

  <mat-action-row>
    <button mat-button color="warn" type="reset" form="new-post-form">Reset</button>
    <button mat-button color="primary" type="submit" form="new-post-form">Create</button>
  </mat-action-row>
</mat-expansion-panel>
